# 👉 Archivos de salida / compilación
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
/coverage
/typings
testem.log

# 👉 Dependencias (NO se deben subir)
/node_modules
node_modules/

# 👉 Archivos de entorno y configuración local
.env
*.log
npm-debug.log
yarn-error.log
/connect.lock
/libpeerconnection.log

# 👉 Configuración de IDEs
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# 👉 Archivos de sistema
.DS_Store
Thumbs.db

# 👉 Archivos Sass (opcional)
.sass-cache/
