.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: 0;
}

.title-img {
  position: absolute;
  left: 50%; top: 35%;
  transform: translate(-50%, -50%);
  width: 50%;  /* Ajusta tamaño según convenga */
  z-index: 2;
  background: #b2d496;
}

.play-btn {
  position: absolute;
  left: 50%; top: 60%;
  transform: translate(-50%, -50%);
  padding: 1.5vw 6vw;
  font-size: 2vw;
  border-radius: 50px;
  background: #418154;
  color: #fff;
  cursor: pointer;
  border: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 10px #418154;
}
.play-btn:hover { filter: brightness(1.07); }

app-settings-button {
  position: absolute;
  top: 2vw; left: 2vw;
  z-index: 3;
}
