
        <div class="contenedor">
            <div class="jugadores">
                <div class="jugador jugador-1">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
                <div class="jugador jugador-2">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
                <div class="jugador jugador-3">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
                <div class="jugador jugador-4">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
                <div class="jugador jugador-5">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
                <div class="jugador jugador-6">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
                <div class="jugador jugador-7">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
                <div class="jugador jugador-8">
                    <div class="informacion">
                        <div class="nombre"> Nombre  </div>
                        <div class="dinero">5500 €</div>
                    </div>
                    <div class="sueldo-alquiler">
                        <div class="sueldo">+2000</div>
                        <div class="alquiler">-1000</div>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="casilla casilla-1">
                    <div class="casilla-interior-sueldo">
                        <img src="assets/images/flechaDerecha.png" alt="flecha negra horizontal que apunta hacia la derecha" class="imagen-casilla-sueldo">
                        <div id="inicio">COMIENZA<br>Sueldo</div>
                    </div>
                </div>
                <div class="casilla casilla-2">
                    <div class="casilla-interior">
                        <img src="assets/images/pastilla.png" alt="1logo negro monocromatico de una pastilla" class="imagen-casilla">
                        <p class="precio">200€</p>
                    </div>
                </div>
                <div class="casilla casilla-3">
                    <div class="casilla-interior">
                        <img src="assets/images/interrogacion.png" alt="logo negro monocromatico de una interrogacion" class="imagen-casilla-interrogacion">
                    </div>
                </div>
                <div class="casilla casilla-4">
                    <div class="casilla-interior">
                        <img src="assets/images/corazon.png" alt="logo negro monocromatico de una corazon" class="imagen-casilla">
                        <p class="precio">300€</p>
                    </div>
                </div>
                <div class="casilla casilla-5">
                    <div class="casilla-interior">
                        <img src="assets/images/coche.png" alt="logo negro monocromatico de una coche" class="imagen-casilla">
                        <p class="precio">400€</p>
                    </div>
                </div>
                <div class="casilla casilla-6">
                    <div class="casilla-interior">
                        <img src="assets/images/interrogacion.png" alt="logo negro monocromatico de una interrogacion" class="imagen-casilla-interrogacion">
                    </div>
                </div>
                <div class="casilla casilla-7">
                    <div class="casilla-interior">
                        <img src="assets/images/avion.png" alt="logo negro monocromatico de una avion" class="imagen-casilla">
                        <p class="precio">400€</p>
                    </div>
                </div>
                <div class="casilla casilla-8">
                    <div class="casilla-interior">
                        <img src="assets/images/interrogacion.png" alt="logo negro monocromatico de una interrogacion" class="imagen-casilla-interrogacion">
                    </div>
                </div>
                <div class="casilla casilla-9">
                    <div class="casilla-interior">
                        <img src="assets/images/casa.png" alt="logo negro monocromatico de una casa" class="imagen-casilla">
                        <p class="precio">500€</p>
                    </div>
                </div>
                <div class="casilla casilla-10">
                    <div class="casilla-interior">
                        <img src="assets/images/escudo.png" alt="logo negro monocromatico de una escudo" class="imagen-casilla">
                        <p class="precio">200€</p>
                    </div>
                </div>
                <div class="casilla casilla-11">
                    <div class="casilla-interior">
                        <img src="assets/images/moneda.png" alt="logo negro monocromatico de una cerdo" class="imagen-casilla">
                        <p class="precio">50€</p>
                    </div>
                </div>
                <div class="casilla casilla-12">
                    <div class="casilla-interior-alquiler">
                        <div id="alquiler">Pago<br>Alquiler</div>
                        <img src="assets/images/flechaAbajoIzquierda.png" alt="flecha negra formando una curva de 90º, indica giro desde arriba hacia la izquierda" class="imagen-casilla-alquiler">
                    </div>
                </div>
                <div class="casilla casilla-13">
                    <div class="casilla-interior">
                        <img src="assets/images/pastilla.png" alt="logo negro monocromatico de una pastilla" class="imagen-casilla">
                        <p class="precio">200€</p>
                    </div>
                </div>
                <div class="casilla casilla-14">
                    <div class="casilla-interior">
                        <img src="assets/images/interrogacion.png" alt="logo negro monocromatico de una interrogacion" class="imagen-casilla-interrogacion">
                    </div>
                </div>
                <div class="casilla casilla-15">
                    <div class="casilla-interior">
                        <img src="assets/images/corazon.png" alt="logo negro monocromatico de una corazon" class="imagen-casilla">
                        <p class="precio">300€</p>
                    </div>
                </div>
                <div class="casilla casilla-16">
                    <div class="casilla-interior">
                        <img src="assets/images/coche.png" alt="logo negro monocromatico de una coche" class="imagen-casilla">
                        <p class="precio">400€</p>
                    </div>
                </div>
                <div class="casilla casilla-17">
                    <div class="casilla-interior">
                        <img src="assets/images/interrogacion.png" alt="logo negro monocromatico de una interrogacion" class="imagen-casilla-interrogacion">
                    </div>
                </div>
                <div class="casilla casilla-18">
                    <div class="casilla-interior">
                        <img src="assets/images/avion.png" alt="logo negro monocromatico de una avion" class="imagen-casilla">
                        <p class="precio">400€</p>
                    </div>
                </div>
                <div class="casilla casilla-19">
                    <div class="casilla-interior">
                        <img src="assets/images/interrogacion.png" alt="logo negro monocromatico de una interrogacion" class="imagen-casilla-interrogacion">
                    </div>
                </div>
                <div class="casilla casilla-20">
                    <div class="casilla-interior">
                        <img src="assets/images/casa.png" alt="logo negro monocromatico de una casa" class="imagen-casilla">
                        <p class="precio">€500</p>
                    </div>
                </div>
                <div class="casilla casilla-21">
                    <div class="casilla-interior">
                        <img src="assets/images/escudo.png" alt="logo negro monocromatico de un escudo" class="imagen-casilla">
                        <p class="precio">200€</p>
                    </div>
                </div>
                <div class="casilla casilla-22">
                    <div class="casilla-interior">
                        <img src="assets/images/moneda.png" alt="logo negro monocromatico de una hucha con forma de cerdo" class="imagen-casilla">
                        <p class="precio">50€</p>
                    </div>
                </div>
                <div class="casilla casilla-central">
                    <div class="casilla-interior-central">
                    </div>
                </div>
            </div>
        </div>
